
<%= form_with(model: article, url: "/users/#{session[:user_id]}/articles/#{article.id}", local: true, html: { multipart: true}) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div >

    <%= form.text_field :description, id: :article_description, placeholder: 'description', class: 'transparent-input focus' %>
  </div>
<br>
<%categories=["top","bottom","outerwear","shoes","accessory"]%>
<br>
  <div class="field">
    <%= form.label :category, class:"checkboxstuff" %>

    <%= form.select(:category, options_for_select([["Top", "top"],["Bottom", "bottom"],["Outerwear", "outerwear"],["Accessory", "accessory"],["Shoes", "shoes"]])) %>
<br>
  </div>
<br>
  <div class="field">
      <%= form.text_field :color, id: :article_color, placeholder: 'description', class: 'transparent-input focus' %>

  </div>
  <br>

  <div class="field">
    <%= form.label :summer, class:"checkboxstuff" %>
    <%= form.check_box :summer, id: :article_summer%>
  </div>
<br>
  <div class="field">
    <%= form.label :winter, class:"checkboxstuff" %>
    <%= form.check_box :winter, id: :article_winter %>
  </div>
<br>
  <div class="field">

    <%= form.file_field :image, class:"button456" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit "upload", {class: "button45"}%>
  </div>
<% end %>
