
<%= form_with(model: article, url: "/users/#{session[:user_id]}/articles/#{article.id}", local: true, html: { multipart: true}) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :article_description %>
  </div>

<%categories=["top","bottom","outerwear","shoes","accessory"]%>

  <div class="field">
    <%= form.label :category %>
    <%= form.select(:category, options_for_select([["top", "top"],["bottom", "bottom"]])) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :article_color %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :article_description %>
  </div>

  <div class="field">
    <%= form.label :summer %>
    <%= form.check_box :summer, id: :article_summer %>
  </div>

  <div class="field">
    <%= form.label :winter %>
    <%= form.check_box :winter, id: :article_winter %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
