<p id="notice"><%= notice %></p>
<h2>


<%= image_tag @article.image.url(:medium) %>
</h2>



    <strong ><%= "Description:" %> </strong >

    <div class="headsss334 move">
      <%= @article.description%>
    </div>

<br>

      <strong ><%= "Category:" %> </strong >

      <div class="headsss334 move">
        <%= @article.category%>
      </div>

<br>


        <strong ><%= "Color:" %> </strong >

        <div class="headsss334 move">
          <%= @article.color%>
        </div>

<br>

          <strong ><%= "Summer?" %> </strong >

          <div class="headsss334 move">
            <%= @article.summer%>
          </div>

<br>


          <strong> Winter?</strong>
            <div class="headsss334 move">
              <%= @article.winter%>
            </div>


  <style>



  </body>
  </html>
  <%= link_to 'Edit', edit_user_article_path(@article.user, @article) %> |
  <%= link_to 'Back', user_articles_path %> |
  <%=link_to "New outfit", new_user_outfit_path(session[:user_id])%>
