<p id="notice"><%= notice %></p>

 <%= image_tag @article.image.url(:medium) %>
 <p>
   <strong>Description:</strong>
   <%= @article.description %>
 </p>

 <p>
   <strong>Category:</strong>
   <%= @article.category %>
 </p>

 <p>
   <strong>Color:</strong>
   <%= @article.color %>
 </p>

 <p>
   <strong>Summer:</strong>
   <%= @article.summer %>
 </p>

 <p>
   <strong>Winter:</strong>
   <%= @article.winter %>
 </p>

<style>



</body>
</html>
<%= link_to 'Edit', edit_user_article_path(@article.user, @article) %> |
<%= link_to 'Back', user_articles_path %> |
<%=link_to "New outfit", new_user_outfit_path(session[:user_id])%>
