<%= form_with(model: outfit, url:"/users/#{@outfit.user.id}/outfits/#{@outfit.id}", local: true) do |f| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%@user_articles = Article.all.where(user_id:session[:user_id])%>
    <%= f.label "Name of Outfit"%>
    <%= f.text_field "name"%>
    <br>
    <%= f.label "Pants"%>
    <%= f.collection_select(:article_ids, @user_articles.where(category: "bottom"), :id, :category)%>
    <br>
    <%= f.label "Shirt"%>
    <%= f.collection_select(:article_ids, @user_articles.where(category: "top"), :id, :category)%>
    <br>
    <%= f.label "Shoes"%>
    <%= f.collection_select(:article_ids, @user_articles.where(category: "shoes"), :id, :category)%>
    <br>
    <%= f.label "Outerwear"%>
    <%= f.collection_select(:article_ids, @user_articles.where(category: "outerwear"), :id, :category)%>
    <br>
    <%= f.label "Accessories"%>
    <%= f.collection_select(:article_ids, @user_articles.where(category: "accessory"), :id, :category)%>
    <br>
    <%= f.submit "Create Outfit" %> <br>

<% end %>
