<h1>New Outfit</h1>
<%@user_articles = Article.all.where(user_id:session[:user_id])%>
<%= form_for @outfit do |f| %>
  <%= f.collection_select(:pants, @user_articles.where(category: "pants"), :id, :category)%>
  <%= f.submit "Select" %>
<br>
<br>
  <%= f.collection_select(:shirt, @user_articles.where(category: "shirt"), :id, :category)%>
  <%= f.submit "Select" %>
<br>
<br>

  <%= f.collection_select(:shoes, @user_articles.where(category: "shoes"), :id, :category)%>
  <%= f.submit "Select" %>
<br>
<br>

  <%= f.collection_select(:outerwear, @user_articles.where(category: "outerwear"), :id, :category)%>
  <%= f.submit "Select" %>
<br>
<br>
  <%= f.collection_select(:accessories, @user_articles.where(category: "accessories"), :id, :category)%>
  <%= f.submit "Select" %>
<br>
<br>



<% end %>

<%= link_to 'Back', outfits_path %>
