<br>
<br>
<h3>Creating A New Outfit</h3>
<%@user_articles = Article.all.where(user_id:session[:user_id])%>
<%= form_for @outfit, url:user_outfits_path(session[:user_id]) do |f| %>
  <%= f.label "Name of Outfit"%>
  <%= f.text_field "name"%>
  <br>
  <%= f.label "Select Top"%>
  <%= f.collection_select(:top_id, @user_articles.where(category: "top"), :id, :description)%>
  <br>
  <%= f.label "Select Outerwear"%>
  <%= f.collection_select(:outerwear_id, @user_articles.where(category: "outerwear"), :id, :description)%>
  <br>
  <%= f.label "Select Accessories"%>
  <%= f.collection_select(:accessory_id, @user_articles.where(category: "accessory"), :id, :description)%>
  <br>
  <%= f.label "Select Bottom"%>
  <%= f.collection_select(:bottom_id, @user_articles.where(category: "bottom"), :id, :description)%>
  <br>
  <%= f.label "Select Shoes"%>
  <%= f.collection_select(:shoes_id, @user_articles.where(category: "shoes"), :id, :description)%>
  <br>
  <%= f.submit "Create Outfit" %> <br>

<% end %>
