<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @outfit.user_id %>
</p>



<%= form_for @outfit do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div classs="field">
    <%= f.text_area :comment %>
  </div>
  <div classs="field">
      <%= f.collection_select(:article_id, Article.all, :id, :category)%>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
