<br>
<br>
<h3>Your Outfit</h3>
<%accessory_article=Article.find(@outfit.accessory_id)%>
<%top_article=Article.find(@outfit.top_id)%>
<%outerwear_article=Article.find(@outfit.outerwear_id)%>
<%bottom_article=Article.find(@outfit.bottom_id)%>
<%shoes_article=Article.find(@outfit.shoes_id)%>

<div class="container">
  <p><%=accessory_article.category%></p>
  <%=image_tag accessory_article.image.url(:thumb)%>
  <!-- <img id="myImg" src="<#%= accessory_article.image.url %>" alt="Article name" style="width:100%"> -->
  <p><%=top_article.category%></p>
  <%=image_tag top_article.image.url(:thumb)%>
  <p><%=outerwear_article.category%></p>
  <%=image_tag outerwear_article.image.url(:thumb)%>
  <p><%=bottom_article.category%></p>
  <%=image_tag bottom_article.image.url(:thumb)%>
  <p><%=shoes_article.category%></p>
  <%=image_tag shoes_article.image.url(:thumb)%>

</div>
