
<div class="moverightright">

<%if logged_in?%>


<br><br>
  <h1 class=headsss>Dashboard</h1>
  <p id="notice"><%= notice %></p>



    <h1 class="headsss2">Email: <%= @user.email %></h1>






    <h3><%=link_to "View Your Outfits", user_outfits_path(@user), class:"headsss3"%></h3>

    <h3><%=link_to "View Your Closet", user_articles_path(@user), class:"headsss3"%></h3>

    <h3><%=link_to "Add a new article", new_user_article_path(@user.id), class:"headsss3"%></h3>


  <%else%>
    <li><%=link_to "Click Here to Login", root_path%></li>


<br>
<br>

<%end%>
<<<<<<< HEAD
<%= link_to 'Edit', edit_user_path(@user) %>
=======
<h3> </h3>
<br>
 <%= link_to 'Edit Info', edit_user_path(@user), class:"headsss3" %>

<%= link_to 'Back', users_path, class:"headsss3" %>
</div>
>>>>>>> b0f74b870be675446f13d971d7c78c0ce4328c37
